.flight{
    margin: 80px auto;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px hsla(234, 83%, 30%, 0.575);
    transition: 0.5s;
}
.card{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
}
.cardimg{
    height: 221px;
    width: 237px;
    border-radius: 10px;

}
.seemore{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.price{
    padding: 10px;
}
.desc{
    padding: 10px;
    margin-bottom: 2%;
}